@media (min-width: 1024px) {
  .content {
    max-width: 1100px;
    margin: 0 auto;
  }

  .text-section h1 {
    font-size: 2.5rem;
  }

  .text-section p {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("../images/bg-mobile.svg"),
      linear-gradient(135deg, #674bafff, #674bafff);
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center;
    background-size: contain, cover;
  }
  .content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-top: 4rem;
  }

  .text-section {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-section h1 {
    font-size: 1.8rem;
  }

  .text-section p {
    font-size: 1rem;
  }

  .btn {
    width: 100%;
    max-width: 280px;
    margin: 0 auto 1.5rem;
  }

  .illustration img {
    max-width: 100%;
    height: auto;
  }

  header .logo {
    position: static;
    justify-content: center;
    margin-bottom: 2rem;
  }

  footer {
    position: static;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}
